<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projet DB</title>
    <link rel="stylesheet" href="Views/Assets/CSS/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
  <body>
    <header>
      <nav>
      <div class="principal" >
        <div class="navUp">
          <div class= "navRight">
            <button><a href="?action=Login">Login</a></button>
            <button><a href="?action=Inscription">Inscription</a></button>
            <button><a href="?action=Tchat">Tchat</a></button>
          </div>
        </div>
        <div class="navBas">
          <div class="navLeftDown">
            <h2>Projet<br/>DB</h2>
          </div>
          <div class="navCenterDown">
            <ul class="centre">
              <li><a href="https://github.com/natagow/MVC_DB">Lien github</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    </header>
