<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet DB</title>
    <link rel="stylesheet" href="Views/Assets/CSS/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
  <body>
    <header>
      <nav>
      <div class="principal" >
        <div class="navBas">
          <div class="navLeftDown">
            <br>
            <h2>Projet DB</h2>
          </div>
        </div>
        <div class="navUp">
            <a href="https://github.com/natagow/MVC_DB"><img src="http://icons.iconarchive.com/icons/limav/flat-gradient-social/64/Github-icon.png" alt="Github logo" style="float: right;
margin-right: 215px; margin-top: -6px;"></a>
          <div class= "bouton">
            <ul>
              <li><a href="index.php?action=login">Login</a></li>
              <li><a href="index.php?action=inscription">Inscription</a></li>
              <li><a href="index.php?action=chatbox">Tchat</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    </header>
