<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./Assets/CSS/login.css">
    <title>Login</title>
  </head>
  <body>
  

    <div class="main">

      <div class="form-style-6">
        <h1>Login</h1>
        <form>
        <input type="text" name="field1" placeholder="Your Name" />
        <input type="text" name="field2" placeholder="Password" />
        <input type="submit" value="Send" />
        </form>
      </div>

    </div>


  </body>
</html>
